@mixin cont-text {
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;

}

@import "colors.scss";
//Global
* {
    //color: ;
    font-size: 1.2rem;
} 
 


.container {
   background-color: $colorCont ;
   @include cont-text();
  
    .left {
       background-color:$color-bgrd1 ;
        height: 100%;
        width: 69%;
        position: relative;
        p {
        text-align: center;
        padding-top: 45%;
        color: $textColor;
        }
    }


    .right {
        background-color: $color-bgrd2 ;
        height: 100%;
        position: relative;
        width: 29%;

        .button {
           background-color: $color-button;
            color: $color-btnText ;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            width: 7em;
            height: 2.5em;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5em 2em;

            //this is to center content vertically
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
            p {
             text-align: center;
             padding-top: 95%;
             color: $textColor;
            }
    }
   

}